.BackgroundContainer {
  position: relative;
  z-index: -1;
}

.Background {
  position: absolute;
  top: -100px;
  background-image: linear-gradient(rgba(20, 33, 61, 0.2) 95%,white), url('/images/home/home-background-small-bottom.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.Container {
  position: relative;
  top: 250px;
  width: 100%;
  height: 125px;
}

.Overlay {
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: rgba(252, 163, 17, 0.8);
  clip-path: polygon(
    0 0, /* left top */
    100% 6vw, /* right top */ 
    100% 100%, /* right bottom */
    0 100% /* left bottom */
  );
}

.Overlay::before {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: rgba(20, 33, 61, 1);
  clip-path: polygon(
    0 0, /* left top */
    100% 5vw, /* right top */ 
    100% calc(100% - 5vw), /* right bottom */
    0 100% /* left bottom */
  );
}

.TextContainer {
  position: absolute;
  top: 30px;
  right: 20px;
  left: 20px;
  bottom: 20px;
}

.Title {
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 10px;
  margin-bottom: 20px;
}

.Text {
  color: white;
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
}

@media(min-width: 550px) {
  .Background {
    height: 500px;
  }
  .Container {
    top: 350px;
    height: 200px;
  }
  .Overlay {
    clip-path: polygon(
      0 0, /* left top */
      100% 0, /* right top */ 
      100% 100%, /* right bottom */
      0 100% /* left bottom */
    );
  }
  .Overlay::before {
    clip-path: polygon(
      0 0, /* left top */
      100% 0, /* right top */ 
      100% calc(100% - 5vw), /* right bottom */
      0 100% /* left bottom */
    );
  }
  .TextContainer {
    top: 45px;
  }
}

@media(min-width: 900px) {
  .Background {
    height: 600px;
  }
  .Container {
    top: 450px;
  }
  .Overlay::before {
    clip-path: polygon(
    0 0, /* left top */
    100% 0, /* right top */ 
    100% calc(100% - 4vw), /* right bottom */
    0 100% /* left bottom */
  );
  }
}

@media(min-width: 1000px) {
  .Background {
    background-image: linear-gradient(rgba(20, 33, 61, 0.2) 100%, rgba(255, 255, 255, 1)), url('/images/home/home-background-small-bottom.jpg');
    border-bottom: solid 20px  rgba(20, 33, 61, 1);
  }
  .Container {
    width: 40%;
    height: 300px;
    top: -10px;
  }
  .Overlay {
    width: 100%;
    height: 320px;
    clip-path: polygon(
      0 0, /* left top */
      100% 0, /* right top */ 
      100% calc(100% - 6vw), /* right bottom */
      0 100% /* left bottom */
    );
  }
  .Overlay::before {
    width: 100%;
    height: 300px;
  }
  .TextContainer {
    top: 80px;
  }
}

@media(min-width: 1200px) {
  .Background {
    top: -200px;
    height: 700px;
  }
}

@media(min-width: 1600px) {
  .Background {
    top: -300px;
    height: 900px;
  }
}