.Container {
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-image: linear-gradient(to right, rgba(20, 33, 61, 1) 40%, rgba(20, 33, 61, 0));
  animation: unfillNav 1s ease-in;
  animation-fill-mode: forwards;
}

.fixed {
  animation: fillNav 1s ease-in;
  animation-fill-mode: forwards;
}

@keyframes fillNav {
  to {
    background-color: #14213d;
  }
}

@keyframes unfillNav {
  from {
    background-color: #14213d;
  }
  to {
    background-color: transparent;
  }
}

/* Logo and home button */
.Logo {
  padding: 0.5% 0.75%;
  position: absolute;
  text-align: left;
  transition-duration: 0.4s;
}

.Logo:hover {
  transform: scale(1.1);
}

.Logo a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 10px;
}

/* Buttons to other parts of the page */
.ButtonGroup {
  padding: 0.5%;
  margin-left: 70%;
  width: 28%;
}

.ButtonGroup button {
  border: none;
  outline: none;
  background-color: transparent;
  width: 20%;
}

.ButtonGroup a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}

.ButtonGroup a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.ButtonGroup a:hover:after { 
  width: 100%; 
  left: 0; 
}

/* Dropdown menu for the buttons */
/* The container <div> - needed to position the dropdown content */
.Dropdown {
  margin-left: 88%;
  width: 10%;
  position: relative;
  display: none;
}

/* Style The Dropdown Button */
.DropButton {
  width: 100%;
  height: 35px;
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.DropdownContent {
  right: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.DropdownContent a {
  color: #14213d;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.DropdownContent a:hover { background-color: #f1f1f1; }

/* Show the dropdown menu on hover */
.Dropdown:hover .DropdownContent { display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .DropButton { background-color: #3e8e41; }

/* Responsiveness */
@media(max-width: 1200px) {
  .ButtonGroup {
    margin-left: 60%;
    width: 38%;
  }
}

@media(max-width: 900px) {
  .ButtonGroup {
    margin-left: 50%;
    width: 48%;
  }
}

@media(max-width: 750px) {
  .Logo {
    padding: 1% 2%;
  }

  .ButtonGroup {
    display: none;
  }
  .Dropdown {
    position: relative;
    display: inline-block;
  }
}

@media(max-width: 600px){
  .DropButton {
    height: 32px;
  }
}

@media(max-width: 500px){
  .Dropdown {
    margin-left: 85%;
    width: 15%;
  }
  .DropButton {
    height: 30px;
  }
}

@media(max-width: 350px){
  .Dropdown {
    margin-left: 80%;
    width: 20%;
  }
  .DropButton {
    height: 30px;
  }
}
